html {
  scroll-behavior: smooth;
}

.prints {
}

.figures {
    font-size: 25px;
}

.prints-number {
    font-size: 20px;
}

.print-category {
    font-size: 25px;
}

img {
    width: 100%;
    min-height: 150px;
    height: auto;
}

.tabs .tab a{
    color:#7cb342;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color #558b2f;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color: #558b2f;
}
.tabs .indicator {
	background-color:#689f38;
}

#logo {
    font-size: 40px;
}

h2, h4 {
    font-weight: 300;
}

h3, h5 {
    font-weight: 275;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

small {
    opacity: 0.7;
}
