html {
  scroll-behavior: smooth;
}

.prints {

}

img {
    max-width: 100%;
    height: auto;
}

.tabs .tab a{
    color:#7cb342;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color #558b2f;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color: #558b2f;
}
.tabs .indicator {
	background-color:#689f38;
}

#logo {
    font-size: 40px;
}

h2 {
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 275;
}

.more {
    font-weight: 300;
    font-size: 1.1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

small {
    opacity: 0.7;
}
